/* general styles */
body {
    background: url('../img/background.jpg') repeat;
    margin: 0;
}

* {
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* header */
header {
    background: rgba(123, 50, 57, 0.9);
    color: #f37276;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header nav a {
    font-size: 21px;
    margin-left: 15px;
}

/* main content */
.main.homepage {
    display: flex;
    min-height: calc(100vh - 100px);
    align-items: center;
    justify-content: center;
}

.main .categories-list {
    display: flex;
}

.main .categories-list li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .categories-list li a {
    background: #aacd00;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    margin: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

    /* footer */
footer {
    background: rgba(123, 50, 57, 0.9);
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
